@model Equipe

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/equipe.css">

<!-- MAIN -->
<main>
    <section class="container-grid cadastro-equipes">
        <form class="frm-cad-equipe" method="post" action="@Url.Action("Atualizar")" enctype="multipart/form-data" style="display:flex; gap:20px">
            <div class="cadequipe-titulo">
                <h1>Editar Equipe</h1>
                <hr>
            </div>
            <input type="hidden" name="IdEquipe" value="@ViewBag.Equipe.IdEquipe">

            <input class="campo-entrada" type="text" name="Nome" placeholder="Digite o nome da sua equipe:" value="@ViewBag.Equipe.Nome" required>
            <label class="foto" for="" style="display: flex; justify-content: space-around">
                <img src="~/img/Equipe/@ViewBag.Equipe.Imagem" width="50px">
                @ViewBag.Equipe.Imagem
                <input  type="file" id="foto-file" name="Imagem" value="@ViewBag.Equipe.Imagem">
            </label>
            
            <button type="submit">Atualizar</button>
        </form>
    </section>
</main>




@* <h2>Edição de Equipes</h2>

@if (string.IsNullOrEmpty(ViewBag.UserName)) {
    <h2>Faça login para ter acesso a página</h2>
    <a asp-area="" asp-controller="Login" asp-action="Index">Fazer Login</a>
} else {
    <form method="post" action="@Url.Action("Atualizar")" enctype="multipart/form-data">
        <input type="hidden" name="IdEquipe" value="@ViewBag.Equipe.IdEquipe">

        <label for="">Nome</label>
        <input type="text" name="Nome" value="@ViewBag.Equipe.Nome">

        <label for=""></label>
        <input type="file" name="Imagem" value="@ViewBag.Equipe.Imagem">

        <button type="submit">Atualizar</button>
    </form>
} *@
